{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col py-3">
            <div class="btn-group mr-2" role="group" aria-label="Basic example">
                <a href="{{ url_for('add_student') }}" class="btn btn-warning">Add New Student</a>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Basic example">
              <a href="{{ url_for('add_quiz') }}" class="btn btn-warning">Add New Quiz</a>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Basic example">
              <a href="{{ url_for('add_results') }}" class="btn btn-warning">Add New Result</a>
              </div>
        </div>
    </div>
    <div class="row">
    <div class="col py-3">
    <ul class="list-group">
    <li class="list-group-item active">Students</li>
    {% for student in students %}
        <li class="list-group-item">UID {{ student.ID }}: {{ student.LAST_NAME }}, {{ student.FIRST_NAME }} | <a href="/student/{{ student.ID }}">View Quiz Results</a></li>
    {% endfor %}
    </ul>
    </div>
    </div>
    <div class="row">
    <div class="col py-3">
    <ul class="list-group">
    <li class="list-group-item active">Quizzes</li>
    {% for quiz in quizzes %}
        <li class="list-group-item">Quiz {{ quiz.ID }}: {{ quiz.SUBJECT }}: {{ quiz.NUM_QUESTIONS }} Questions | {{ quiz.QUIZ_DATE }}</li>
    {% endfor %}
    </ul>
    </div>
    </div>
    </div>
  
{% endblock %}